$background-image: url("../img/header_background_v1.jpg");
$font-family: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$font-size-regular: 15px;
$primary-color: #01acac;
$main-font-color: #ffffff;
$date-font-color: #ff5722;
$article-heading-color: $primary-color;
$border-color: #000000;
$label-color: $primary-color;
$background-color: $main-font-color;
$article-background-color: #efefef;
$button-text-color: $main-font-color;
$nav-border-color: $article-background-color;
