$background-image: url("../img/header_background_v2.jpg");
$font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-size-regular: 18px;
$primary-color: #0401ac;
$main-font-color: #ff5722;
$date-font-color: #c3c3d4;
$article-heading-color: #607d8b;
$border-color: $article-heading-color;
$label-color: $article-heading-color;
$background-color: #efefef;
$article-background-color: #ffffff;
$button-text-color: $article-background-color;
$nav-border-color: $article-background-color;
