@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2)
      format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  height: 38vw;
  background-image: url(../img/sample2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1vw 0;
}
.logo h4 {
  padding-left: 5vw;
  text-transform: uppercase;
  font-weight: 500;
}
.navigation-header {
  display: flex;
  width: 15vw;
  justify-content: space-around;
  list-style-type: none;
  cursor: pointer;
}
.nav-login {
  margin-left: 30px;
}
.header-position-text {
  position: absolute;
  top: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-weight: 500;
}
.span {
  font-size: 5vw;
}
.header h6 {
  font-size: 0.8vw;
}
.btn-header {
  position: absolute;
  top: 25vw;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.btn {
  border: 1px solid #fff;
  padding: 10px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 10px;
  user-select: none;
}
.space {
  width: 100%;
  height: 11vw;
  position: relative;
  overflow: hidden;
}
.triangle {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 11vw 0;
  border-color: transparent #000000 transparent transparent;
  z-index: -1;
}
.space-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-area {
  width: 25%;
  margin-left: 4vw;
  font-size: 1.2vw;
}
.second-area {
  width: 45%;
  font-size: 0.9vw;
  color: #fff;
  margin-top: -7vw;
  margin-right: 4vw;
}
.third-area {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.2vw;
}
.main {
  width: 92%;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}
.block-img {
  width: 45%;
  height: 15vw;
  background-image: url(../img/sample.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.likes {
  position: absolute;
  border: 1px solid #fff;
  padding: 2px;
  top: 4px;
  right: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.location {
  position: absolute;
  color: #fff;
  font-size: 15px;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
.content-bloc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.content {
  font-size: 0.85vw;
  text-align: center;
}
.blocks {
  margin-top: 3vw;
  width: 100%;
  height: 15vw;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block {
  width: 20%;
  padding: 1vw;
  box-shadow: 0px 0px 32px 0px rgba(184, 184, 184, 1);
}
.block-areas {
  font-size: 0.95vw;
}
.block .content-btn {
  text-align: center;
  background-color: #097774;
  margin-top: 1vw;
  color: #fff;
  font-size: 1.1vw;
  padding: 0.5vw;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3vw 0;
}
.subscribe > p {
  font-size: 0.8vw;
  margin: 0 3vw;
}
.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 3vw;
}
.form-paragraph {
  font-size: 1.2vw;
}
.form input {
  margin: 0 0.5vw 0 1vw;
  border: 0.1vw solid #000;
  padding: 0.3vw 0 0.3vw 0.7vw;
  font-size: 1vw;
}
.form input::placeholder {
  font-size: 1vw;
  color: #000;
}
.sub {
  background-color: #097774;
  color: #fff;
  padding: 0.47vw;
  font-size: 1%;
}
.footer {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-top {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-division {
  width: 23%;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.footer-top h5 {
  font-size: 1.2vw;
  margin-bottom: 0.8vw;
}
.footer-top p {
  color: #9eb8d9;
  font-size: 0.75vw;
}
.time {
  font-size: 10px;
  color: #d4d4d4;
}
.second-form {
  margin-top: 0.2vw;
}
.second-form input {
  margin-left: 0;
  background-color: #f3f3f3;
}
.footer-bottom {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0.8vw 0;
  border-top: 0.18vw solid rgb(167, 167, 167);
}
.footer-bottom h5 {
  color: #8d8d8d;
  font-size: 1.2vw;
}

.footer-bottom > nav {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}
.footer-bottom ul {
  width: 90%;
  list-style-type: none;
}
.footer-bottom li {
  float: right;
  margin-right: 7%;
  font-size: 1.2vw;
}
.footer-bottom ul > li:first-child {
  margin-right: 0%;
}
.footer-bottom nav li {
  color: rgb(158, 158, 158);
  margin-left: 5%;
  text-decoration: none;
}
.footer-bottom nav li:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
